html{
	margin: 0; 
  background-color:#c0392b;
  background-size:100px 100px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  color: white;
}

.wrapper{
  text-align: center;
}

.screen {
  margin: 0 auto;
  width: 50%;
  height: 500px;
  margin-top: 50px;
  padding: 10px;
  text-align: center;
  border: 3px dashed #ccc; 
}

.screen input[type="text"] {
  display: block;
  margin : 0 auto;
  margin-top: 15px;
}

.screen input[type="number"] {
  display: block;
  margin : 0 auto;
  margin-top: 15px;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: 0 auto;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    margin-top: 15%;
}

.button {
    background-color: white;
    color: black;
    border: 2px solid #555555;
}

.button:hover {
    background-color: #555555;
    color: white;
}

/*
Elementos que exibem a pontuação
*/

.subtotal-wrapper {
  width: 10%;
  font-size: 1.5em;  
}

input[type=text] {
    width: 50%;
    padding: 12px 20px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

input[type=text]:focus {
    border: 3px solid #555;
}

input[type=number] {
    width: 25%;
    padding: 12px 20px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

input[type=number]:focus {
    border: 3px solid #555;
}

/* Titulo das perguntas */
h3 {
  color: #ffffff;
  font-weight: normal;
}


/* Inputs Radios*/
